<ion-header>

  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Chat</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content #content class="">

    <ion-spinner *ngIf="!(messages$ | async)" ></ion-spinner>

    <div class = "chatwindow">
      <ion-list>
        <ion-item *ngFor = "let item of (messages$ | async); let i = index" text-wrap>
          <ion-avatar slot="end" *ngIf="item?.author != currentUserUid">
            <img src="{{getUserPhotoUrl(item?.author)}}">
          </ion-avatar>
          <div class="bubble me" *ngIf="item?.author != currentUserUid">
            <h3>{{item.message}}</h3>
          </div>
          <ion-avatar slot="start" *ngIf="item?.author == currentUserUid">
            <img src="{{getUserPhotoUrl(item?.author)}}">
          </ion-avatar>
          <div class="bubble you" *ngIf="item?.author == currentUserUid">
            <h3>{{item.message}}</h3>
          </div>
        </ion-item>
      </ion-list>
    </div>
    </ion-content>

    <ion-footer ion-fixed>
      <ion-toolbar class="no-border" color="light">
        <ion-input #textInput [(ngModel)]="newMessageText" placeholder="Message here..."></ion-input>
        <ion-buttons slot="end">
          <ion-button (click)="addMessage()">
            <ion-icon slot="icon-only" name="send" color="secondary"></ion-icon>
          </ion-button>
        </ion-buttons>

      </ion-toolbar>
    </ion-footer>
