
  .item-profile {
    padding-top: 2px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    height: 250px;
  }

  .item-detail {
    width: 100%;
    background: var(--c50);
    position: absolute;
  }
