// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


ion-toolbar {
  height: 200px !important;
  background: #FA186C !important;
  font-size: 2vh;
  .toolbar-background {
      /*background-color: transparent !important;*/
      background: url("../assets/images/nav-header-bg1.png") !important;
    }

  .toolbar-title {
    padding-top: 160px;
    font-size: 3vh;
    color: #F9005C;
    text-align: right;
  }

  p {
    text-align: right;
    padding: 0 10px 10px 10px;
  }
}

ion-header {
  // height: 200px !important;
  /*background: #FA5693 !important;*/
  // background: url("../assets/images/header-bg.png");

  ion-navbar {
    .toolbar-background {
      background-color: transparent !important;
    }
    button {
      padding-top: 10px !important;
    }

    ion-title {
      padding-top: 10px;
    }
  }
}

