<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>

    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>

    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

    <ion-fab top right edge>
        <button ion-fab icon-only (click)="addItem()">
            <ion-icon name="add"></ion-icon>
          </button>
      </ion-fab>

    <ion-spinner *ngIf="!(currentItems | async)" ></ion-spinner>

  <ion-list>
    <ion-item-sliding *ngFor="let item of (currentItems | async)">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
