page-list-master {

  ion-header {
    height: 200px !important;
    /*background: #FA5693 !important;*/
    background: url("../assets/images/header-bg.png") !important;

    ion-navbar {
      .toolbar-background {
        background-color: transparent !important;
      }
      .toolbar-title {
        color: color($pal, 900);
      }

      button {
        color: color($pal, 900) !important;
      }

    }
  }

  ion-content {
    padding-top: 200px !important;
  }

}
